.wrapper {
    border:1px solid;
    border-radius:20px;
    padding: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #222;
    text-shadow: 0px 1px 5px #555;
    font-family: monospace;
}

.latexCode {
    width: 95%;
    margin: 10px;
    height: 600px;
}

#generateButton {
}

#result {
    margin: 15px;
}

#resultBox {
    margin: 15px;
}